.views-view-grid{
  text-decoration: none;
  text-align: justify;

  .cols-4 {
    .links{
      border-top: 1px solid $basicGray5;

      .node-readmore{
        text-transform: uppercase;
      }
    }

    .grid-row {
      min-height: 325px;
      .grid-col {
        .contextual-links a {
          color: $basicBlack;
        }
        .views-field, article {
          color: $basicWhite;
          background-color: $basicBlue2;
          padding: 24px;
          min-height: 300px;
          &:hover{
            background-color: $basicBlue3;
          }
          a {
            color: $basicWhite;
          }
          .node-readmore a{
            color: $basicOrange;
            display: inline-block;
            margin-top : 20px;
          }
        }
        &:nth-child(even){
          .views-field, article {
            color: $basicBlue2;
            background-color: $basicGray2;
            &:hover{
              background-color: $basicWhite2;
            }
            a{
              color: $basicBlue2;
            }
            .node-readmore a{
              color: $basicOrange;
            }
          }
        }
      }
    }

  }

}