.main-header{
    background: url('../img/slideshow_7.jpeg');
    background-size: cover;

    &:after {
        background: $basicBlueTransparent;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    nav {
        background: none;
    }
}