body {
  font-family: $fontStack;
  color: $basicCharcoal;
  font-size: 15px;
  text-rendering: optimizeLegibility !important;
}

.component--color--white{
  p {
    color: $basicWhite;
  }
}

.component--color--black{
  p {
    color: $basicBlack;
  }
}