.views-exposed-form {
  .select-wrapper {
    width: 100%;

    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
      width: 100%;
    }
    .basic-select {
      .btn{
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
      }

      .btn-default {
        background-color: $basicWhite;
        color: $basicBlack;
      }
    }
  }
}

#block-bef-companies {
  .form-item {
    .form-checkboxes {
      input.form-checkbox {
        width: 20px;
      }
    }
  }
}