#views-exposed-form-companies-page-1{
  & > .form-item{

    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float:left;

    .bef-slider{
      width: 75%;
      margin-right: auto;
      margin-left: auto;
      float: right;
      margin-top: 5px;
    }

    summary{
      background: $basicWhite;
    }

    details{
      border: none;
    }

    label{
      font-weight: inherit;
      margin-top: 5px;
    }

    input {
      line-height: 10px;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      float: right;
    }

    @include mq($from: tablet) {
      width: 33.33333333%;
    }
    @include mq($from: desktop) {
      width: 25%;
    }
  }
  .form-actions{
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float:left;
  }
}