.region-footer-third{
  min-height: 90px;
  img {
    display: block;
    margin: auto;
    height: 100%;
    @include mq($from: tablet) {
      width: 50%;
    }
  }

  svg {
    display: block;
    margin: auto;
    height: 100%;
    @include mq($from: tablet) {
      width: 50%;
    }
  }
}