.footerwidget {

  background-color: $basicBlue;

  .fa {
    font-size: 45px;
    margin-bottom: 10px;
    display: inline-block;
  }

  p {
    .fa {
      text-align: center;
    }
  }

  h1, h2, h3, h4, h5, h6, p, a {
    color: $basicWhite;
    text-align: center;
  }

  h1, h2, h3, h4, h5, h6, p, a {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-menu{
  background: $basicGray9;
   h1, h2, h3, h4, h5, h6, p, a {
    color: $basicWhite;
  }
}

.copyright{
  background: $basicGray9;
  h1, h2, h3, h4, h5, h6, p, a {
    color: $basicWhite;
  }
}