/**
 * Base
 */
/*
* Regions
*/
.footerwidget {
  background-color: #0059A1;
}

.footerwidget .fa {
  font-size: 45px;
  margin-bottom: 10px;
  display: inline-block;
}

.footerwidget p .fa {
  text-align: center;
}

.footerwidget h1, .footerwidget h2, .footerwidget h3, .footerwidget h4, .footerwidget h5, .footerwidget h6, .footerwidget p, .footerwidget a {
  color: #FFF;
  text-align: center;
}

.footerwidget h1, .footerwidget h2, .footerwidget h3, .footerwidget h4, .footerwidget h5, .footerwidget h6, .footerwidget p, .footerwidget a {
  margin-left: auto;
  margin-right: auto;
}

.footer-menu {
  background: #999999;
}

.footer-menu h1, .footer-menu h2, .footer-menu h3, .footer-menu h4, .footer-menu h5, .footer-menu h6, .footer-menu p, .footer-menu a {
  color: #FFF;
}

.copyright {
  background: #999999;
}

.copyright h1, .copyright h2, .copyright h3, .copyright h4, .copyright h5, .copyright h6, .copyright p, .copyright a {
  color: #FFF;
}

.region-footer-third {
  min-height: 90px;
}

.region-footer-third img {
  display: block;
  margin: auto;
  height: 100%;
}

@media (min-width: 48em) {
  .region-footer-third img {
    width: 50%;
  }
}

.region-footer-third svg {
  display: block;
  margin: auto;
  height: 100%;
}

@media (min-width: 48em) {
  .region-footer-third svg {
    width: 50%;
  }
}

.main-header {
  background: url("../img/slideshow_7.jpeg");
  background-size: cover;
}

.main-header:after {
  background: rgba(0, 88, 161, 0.63);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-header nav {
  background: none;
}

.slideshow {
  display: none;
  position: relative;
}

@media (min-width: 48em) {
  .slideshow {
    display: block;
  }
}

.slideshow .slideshow-wide {
  padding: 0;
}

/*
* Components
*/
body {
  font-family: "Roboto", sans-serif;
  color: #464646;
  font-size: 15px;
  text-rendering: optimizeLegibility !important;
}

.component--color--white p {
  color: #FFF;
}

.component--color--black p {
  color: #000;
}

.views-exposed-form .select-wrapper {
  width: 100%;
}

.views-exposed-form .select-wrapper .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}

.views-exposed-form .select-wrapper .basic-select .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.views-exposed-form .select-wrapper .basic-select .btn-default {
  background-color: #FFF;
  color: #000;
}

#block-bef-companies .form-item .form-checkboxes input.form-checkbox {
  width: 20px;
}

#views-exposed-form-companies-page-1 > .form-item {
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}

#views-exposed-form-companies-page-1 > .form-item .bef-slider {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  float: right;
  margin-top: 5px;
}

#views-exposed-form-companies-page-1 > .form-item summary {
  background: #FFF;
}

#views-exposed-form-companies-page-1 > .form-item details {
  border: none;
}

#views-exposed-form-companies-page-1 > .form-item label {
  font-weight: inherit;
  margin-top: 5px;
}

#views-exposed-form-companies-page-1 > .form-item input {
  line-height: 10px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  float: right;
}

@media (min-width: 48em) {
  #views-exposed-form-companies-page-1 > .form-item {
    width: 33.33333333%;
  }
}

@media (min-width: 62em) {
  #views-exposed-form-companies-page-1 > .form-item {
    width: 25%;
  }
}

#views-exposed-form-companies-page-1 .form-actions {
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}

.component--h003 {
  max-height: 400px;
}

@media (min-width: 62em) {
  .component--h003 .component--alignment--centered-and-cropped {
    max-height: 400px;
    object-fit: cover;
  }
}

.component--h003 .component--font-transform--text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.component--h003 .component--font-transform--text p {
  font-size: 13.5px;
}

@media (min-width: 48em) {
  .component--h003 .component--font-transform--text p {
    font-size: 18px;
  }
}

@media (min-width: 62em) {
  .component--h003 .component--font-transform--text p {
    font-size: 20px;
  }
}

.views-view-grid {
  text-decoration: none;
  text-align: justify;
}

.views-view-grid .cols-4 .links {
  border-top: 1px solid rgba(161, 161, 161, 0.2);
}

.views-view-grid .cols-4 .links .node-readmore {
  text-transform: uppercase;
}

.views-view-grid .cols-4 .grid-row {
  min-height: 325px;
}

.views-view-grid .cols-4 .grid-row .grid-col .contextual-links a {
  color: #000;
}

.views-view-grid .cols-4 .grid-row .grid-col .views-field, .views-view-grid .cols-4 .grid-row .grid-col article {
  color: #FFF;
  background-color: #204c6f;
  padding: 24px;
  min-height: 300px;
}

.views-view-grid .cols-4 .grid-row .grid-col .views-field:hover, .views-view-grid .cols-4 .grid-row .grid-col article:hover {
  background-color: #2b6797;
}

.views-view-grid .cols-4 .grid-row .grid-col .views-field a, .views-view-grid .cols-4 .grid-row .grid-col article a {
  color: #FFF;
}

.views-view-grid .cols-4 .grid-row .grid-col .views-field .node-readmore a, .views-view-grid .cols-4 .grid-row .grid-col article .node-readmore a {
  color: #ffab40;
  display: inline-block;
  margin-top: 20px;
}

.views-view-grid .cols-4 .grid-row .grid-col:nth-child(even) .views-field, .views-view-grid .cols-4 .grid-row .grid-col:nth-child(even) article {
  color: #204c6f;
  background-color: #ececec;
}

.views-view-grid .cols-4 .grid-row .grid-col:nth-child(even) .views-field:hover, .views-view-grid .cols-4 .grid-row .grid-col:nth-child(even) article:hover {
  background-color: #f5f5f5;
}

.views-view-grid .cols-4 .grid-row .grid-col:nth-child(even) .views-field a, .views-view-grid .cols-4 .grid-row .grid-col:nth-child(even) article a {
  color: #204c6f;
}

.views-view-grid .cols-4 .grid-row .grid-col:nth-child(even) .views-field .node-readmore a, .views-view-grid .cols-4 .grid-row .grid-col:nth-child(even) article .node-readmore a {
  color: #ffab40;
}

.component--color-white h1, .component--color-white h2, .component--color-white h3, .component--color-white h4, .component--color-white h5, .component--color-white h6, .component--color-white p, .component--color-white a {
  color: #FFF;
}

.component--color-black h1, .component--color-black h2, .component--color-black h3, .component--color-black h4, .component--color-black h5, .component--color-black h6, .component--color-black p, .component--color-black a {
  color: #000;
}
