.component--h003 {
    max-height: 400px;

    .component--alignment--centered-and-cropped{
        @include mq($from: desktop) {
            max-height: 400px;
            object-fit: cover;
        }
    }

    .component--font-transform--text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        p {
            font-size: 13.5px;
        }
        @include mq($from: tablet) {
            p {
                font-size: 18px;
            }
        }
        @include mq($from: desktop) {
            p {
                font-size: 20px;
            }
        }
    }
}
